# docker-compose.yml
networks:
    internal_network:
        driver: bridge
        name: ${PROJECT_NAME}_network

services:

    # 1. NGINX
    nginx:
        container_name: ${PROJECT_NAME}_nginx
        image: nginx:stable-alpine
        restart: unless-stopped
        ports:
            - "${NGINX_HOST_PORT}:80"
        volumes:
            - .:/var/www:delegated
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php
        networks:
            - internal_network
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost/" ]
            interval: 30s
            timeout: 10s
            retries: 5

    # 2. PHP-FPM
    php:
      container_name: ${PROJECT_NAME}_php
      build:
        context: .
        dockerfile: docker/php/Dockerfile
        args:
          PHP_VERSION: ${PHP_VERSION}
      restart: unless-stopped
      volumes:
        - .:/var/www
      networks:
        - internal_network
      healthcheck:
        test: [ "CMD", "php-fpm", "-t" ]
        interval: 10s
        timeout: 3s
        retries: 3
      command: php-fpm

    # 3. MARIADB
    mariadb:
        container_name: ${PROJECT_NAME}_mariadb
        image: mariadb:${MARIADB_VERSION}
        restart: unless-stopped
        environment:
            MARIADB_DATABASE: ${MARIADB_DATABASE}
            MARIADB_USER: ${MARIADB_USERNAME}
            MARIADB_PASSWORD: ${MARIADB_PASSWORD}
            MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
        volumes:
            - mariadb_data:/var/lib/mysql
        ports:
          - "${MARIADB_HOST_PORT}:3306"
        networks:
            - internal_network

    # 4. REDIS
    redis:
        container_name: ${PROJECT_NAME}_redis
        image: redis:${REDIS_VERSION}
        restart: unless-stopped
        volumes:
            - redis_data:/data
        networks:
            - internal_network

    # 5. WORKER
    worker:
      container_name: ${PROJECT_NAME}_worker
      build:
        context: .
        dockerfile: docker/php/Dockerfile
        args:
          PHP_VERSION: ${PHP_VERSION}
      restart: unless-stopped
      command: php /var/www/artisan queue:work redis --queue=default --tries=3 --timeout=90
      volumes:
        - .:/var/www
      depends_on:
        - php
        - redis
      networks:
        - internal_network

volumes:
    mariadb_data:
        driver: local
    redis_data:
        driver: local
